* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", serif;
	background: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #151717;
}

.wrapper {
	max-width: 1070px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 108%;
	letter-spacing: 0.04em;
	color: #151717;
}

.btn {
	border-radius: 6px;
	padding: 12px 20px;
	text-align: center;
	background-color: #5222D0;
}

/* ========== HEADER ========== */
.navigation {
	margin: 40px 0 180px 0;
}

.nav-list {
	display: flex;
}

.nav-list li:nth-child(2) {
	margin: 0 0 0 750px;
}

.nav-list li:nth-child(3) {
	margin: 0 0 0 100px;
}

.nav-list-item-link,
.hero-link {
	font-weight: 500;
	font-size: 16px;
	color: #1f2626;
}

.btn {
	color: #dbffff;
}

/* ========== HEADER ========== */

/* ========== MAIN ========== */
/* ========== HERO ========== */
.hero-menu {
	display: flex;
	margin: 0 0 20px 0;
}

.hero-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 70px 0 0 0;
}

.hero-title {
	font-family: 'Tinos', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	color: #151717;
}

.hero-name {
	font-weight: 600;
	font-size: 72px;
	color: #5222d0;
}

.hero-text {
	width: 515px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: #1f2626;
	margin: 0 0 20px 0;
}

.arrow {
	text-align: center;
	margin: 0 0 220px 0;
}

/* ========== HERO ========== */

/* ========== ABOUT ME ========== */
.about-me-title {
	padding: 0 0 0 20px;
}

.about-me-text {
	width: 850px;
	font-weight: 400;
	font-size: 18px;
	line-height: 144%;
	letter-spacing: 0.04em;
	color: #1f2626;
	border-left: 4px solid #5222d0;
	margin: 20px 0 140px 0;
	padding: 0 0 0 15px;
}

/* ========== ABOUT ME ========== */

/* ========== PROJECTS ========== */
.projects-list {
	display: flex;
	justify-content: space-between;
	margin: 0 0 60px 0;
}

.projects-title {
	margin: 0 0 35px 0;
}

.project-card {
	border-radius: 6px;
	width: 522px;
	height: 636px;
	box-shadow: 2px 2px 32px 0 rgba(40, 38, 44, 0.15);
	background: #f5f2fd;
}

.project-img {
	border-radius: 6px;
}

.project-card-title {
	margin: 30px 0 10px 25px;
}

.project-card-tech {
	display: flex;
	gap: 10px;
	margin: 0 0 20px 25px;
}

.project-card-tech-item {
	border-radius: 4px;
	padding: 8px 16px;
	background: #5222d0;

	font-weight: 400;
	font-size: 10px;
	line-height: 140%;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	text-align: center;
	color: #dbffff;
}

.project-card-text {
	width: 485px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: #1f2626;
	margin: 0 0 0 25px;
}

.see-all-btn {
	text-align: center;
	margin: 0 0 50px 0;
}

.projects-link {
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #dbffff;
	text-transform: uppercase;
	padding: 20px 75px;
}

/* ========== PROJECTS ========== */

/* ========== MAIN ========== */

/* ========== FOOTER ========== */
/* ========== FOOTER ========== */

/* PC */
@media (max-width: 1070px) {
	.wrapper {
		max-width: 769px;
	}

	.nav-list li:nth-child(2) {
		margin: 0 0 0 450px;
	}

	.navigation {
		margin: 40px 0 100px 0;
	}

	.hero-menu {
		flex-direction: column-reverse;
		text-align: center;
		margin: 0 0 40px 0;
	}

	.hero-text {
		margin: 0 auto 20px auto;
	}

	.about-me-title {
		margin: 100px 0 0 0;
	}

	.about-me-text {
		width: auto;
	}

	.projects-list {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
}

/* TABLET */
@media (max-width: 768px) {
	.wrapper {
		max-width: 481px;
	}

	.nav-list li:nth-child(2) {
		margin: 0 0 0 200px;
	}

	.nav-list li:nth-child(3) {
		margin: 0 0 0 60px;
	}

	.navigation {
		margin: 40px 0 50px 0;
	}

	.hero-name {
		font-size: 46px;
	}

	.hero-text {
		width: auto;
		font-size: 16px;
	}

	.hero-img {
		width: 320px;
		height: 240px;
	}

	.arrow {
		display: none;
	}

	.about-me-text {
		margin-bottom: 100px;
	}

	.project-card,
	.project-img {
		width: 480px;
	}

	.project-card-text {
		width: 450px;
	}
}

/* MOBILE */
@media (max-width: 480px) {
	.wrapper {
		max-width: 321px;
	}

	.nav-list li:nth-child(2) {
		margin: 0 0 0 70px;
	}

	.nav-list li:nth-child(3) {
		margin: 0 0 0 30px;
	}

	.hero-title {
		font-size: 16px;
	}

	.hero-name {
		font-size: 40px;
	}

	.project-card {
		width: 365px;
		height: 575px;
		padding-bottom: 20px;
	}

	.project-img {
		width: 365px;
		height: 300px;
	}

	.project-card-title {
		font-size: 20px;
	}

	.project-card-tech {
		flex-wrap: wrap;
	}

	.project-card-text {
        width: 340px;
    }

}

/* MINI MOBILE */
@media (max-width: 320px) {
	.wrapper {
		max-width: auto;
	}
}