* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", serif;
	background: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #151717;
}

.wrapper {
	max-width: 1070px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {
	border-radius: 6px;
	padding: 12px 20px;
	text-align: center;
	background-color: #5222D0;
}

/* ========== HEADER ========== */
.navigation {
	margin: 40px 0 0 0;
}

.nav-list {
	display: flex;
}

.nav-list li:nth-child(2) {
	margin: 0 0 0 750px;
}

.nav-list li:nth-child(3) {
	margin: 0 0 0 100px;
}

.nav-list-item-link {
	font-weight: 500;
	font-size: 16px;
	color: #1f2626;
}

.btn {
	color: #dbffff;
}
/* ========== HEADER ========== */

/* ========== MAIN ========== */
/* ========== MAIN ========== */

/* ========== FOOTER ========== */
/* ========== FOOTER ========== */